<table class="menu">
    <tbody>
        <tr>
            <td class="item">
                <a href="./main.php">
                    <span class="./main.php"><?php echo topMenu1SortedArticles; ?></span>
                </a>
            </td>
            <td class="item<?php if ($_GET['category']===topMenu2SortedArticles) { echo ' active';} ?>">
                <a href="./sortedArticles.php?category=<?php echo $var=urlencode(topMenu2SortedArticles); ?>">
                    <span class="name"><?php echo topMenu2SortedArticles; ?></span>
                </a>
            </td>
            <td class="item <?php if ($_GET['category']===topMenu3SortedArticles) { echo 'active';} ?>">
                <a href="./sortedArticles.php?category=<?php echo $var=urlencode(topMenu3SortedArticles); ?>">
                    <span class="name"><?php echo topMenu3SortedArticles; ?></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>