/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.09.2014, 18:36:15
    Author     : Max
*/



/*div #calendar  {
    display: block;
    
    
}*/

/*h2, p {
    margin: 0 auto 14px;
    text-align: center;
}*/

div #calendar ul  {
    display: block;
    clear: left;
    height: 90%;
    width: 100%;
    
    list-style: none;
    font-size: 80%;
    text-align: center;
    
}

div #calendar li {
    position: relative;
    float: left;
    
    
    width: 10%;
    height: 10%;
    overflow: hidden;
    
}

/*div #calendar li:hover {
    background-color: #fcb;
    z-index: 1;
    -moz-box-shadow: 0 0 10px #789;
    -webkit-box-shadow: 0 0 10px #789;
    box-shadow: 0 0 10px #789;
}*/

/*.weekdays {
    height: 20px;
    border-top: 2px solid black;
}*/

/*.weekdays li {
    height: 16px;
    padding: 2px 2px;
    background-color: #bcf;
}*/

/*.fill {
    background-color: #bcd;
}*/

/*.weekdays li:hower, li.fill:hover {
    background-color: #bcd;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}*/

.today {
    background-color: #771010;
    color: #FFFFFF;
}

/*div #calendar li strong {
    position: absolute;
    top: 1px;
    right: 1px;
}*/

/*div #calendar li a {
    position: relative;
    display: block;
    border: 1px dotted black;
    margin: 2px;
    padding: 2px;
    font-size: 11px;
    background-color: #def;
    text-align: left;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    z-index: 1;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-style: italic;
}*/

/*div #calendar li a:hover {
    background-color: #bcf;
    z-index: 2;
    -moz-box-shadow: 0 0 6px #789;
    -webkit-box-shadow: 0 0 6px #789;
    box-shadow: 0 0 6px #789;
}*/