/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.05.2014, 20:47:05
    Author     : Max
*/


fieldset {
    border: 0;
    
}

fieldset legend {
    color: #FF3838;
    font-size: 24px;
    
}

.posts legend {
    color: #FF3838;
    font-size: 24px;
    
}

fieldset label {
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

/*legend {
    font-size: 24px;
    font-weight: bold;
    
}*/

input[type=text], input[type=password], label {
    display: block;
    width: 70%;
    //font-weight: bold;
    
}

textarea {
    width: 99%;
    height: 400px;
    
}

input[type=text], input[type=password], textarea {
    border: 1px solid #e2e2e2;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    //-moz-box-shadow: inset 1px 2px 4px #789;
    //-webkit-box-shadow: inset 1px 2px 4px #789;
    //box-shadow: inset 1px 2px 4px #789;
    padding: 4px;
    margin: 0 0 4px;
    font-size: 15px;
    text-align: left;
    
}

#commentTextarea {
    width: 99%;
    height: 200px;
    
}

//input[type=submit] {
    //margin: 4px 0;
    //padding: 4px;
    //border: 1px solid #123;
    //-moz-border-radius: 6px;
    //-webkit-border-radius: 6px;
    //border-radius: 6px;
    //-moz-box-shadow: inset -2px -1px 3px #345,
    //    inset 1px 1px 3px #BCF,
    //    1px 2px 6px #789;
    //-webkit-box-shadow: inset -2px -1px 3px #345,
    //    inset 1px 1px 3px #BCF,
    //    1px 2px 6px #789;
    //box-shadow: inset -2px -1px 3px #345,
    //    inset 1px 1px 3px #BCF,
    //    1px 2px 6px #789;
    //background-color: #789;
    //text-transform: uppercase;
    //font-weight: bold;
    //font-size: 14px;
    //text-shadow: 0px 0px 1px #fff;
        
//}

.admin-options {
    text-align: center;
}

.admin-options form, .admin-options p {
    display: inline;
}

a.admin {
    display: inline-block;
    margin: 4px 0;
    padding: 4px;
    border: 1px solid #123;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    //-moz-box-shadow: inset -2px -1px 3px #345,
    //    inset 1px 1px 3px #BCF,
    //    1px 2px 6px #789;
    //-webkit-box-shadow: inset -2px -1px 3px #345,
    //    inset 1px 1px 3px #BCF,
    //    1px 2px 6px #789;
    //box-shadow: inset -2px -1px 3px #345,
    //    inset 1px 1px 3px #BCF,
    //    1px 2px 6px #789;
    background-color: #789;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    //text-shadow: 0px 0px 1px #fff;
    
}


.bbButton {
    //margin-right: 50px;
    //color: #0C5F0C;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #E2E2E2;
    color: rgba(0, 0, 0, 0.5);
    //padding: 5px;
    border-width: 1px;
    border-style: solid;
    font-size: 13px;
    margin-bottom: 4px;
    height:35px;
    width:65px;
    //display: inline;
    white-space:pre-line;
    vertical-align: top;
}

 .bbButton:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #30DB30;
    color: #30DB30;
    
    
}

#bold-button {
    font-weight: bold;  
}

#italic-button {
    font-style: italic;  
}

#underline-button {
    text-decoration:line-through;  
}

#strike-button {
    text-decoration:underline;  
}

#color-button {
    
    //color: #ff3838;
    //font-weight: bold;
    
}

#listn-button {
    //height:30px;
    //width:35px;
    background-image:url("../img/listn.png");
    background-repeat:no-repeat;
    background-position: center;
    
}

#listn-button:hover {
    //height:30px;
    //width:35px;
    background-image:url("../img/listng.png");
    background-repeat:no-repeat;
    background-position: center;
    
}

#list-button {
    background-image:url("../img/list.png");
    background-repeat:no-repeat;
    background-position: center;
}

#list-button:hover {
    background-image:url("../img/listg.png");
    background-repeat:no-repeat;
    background-position: center;
}


a.abort {
    margin-right: 50px;
    //color: #0C5F0C;
    background: none repeat scroll 0 0 #0c5f0c;
    border-color: #30db30;
    color: #ffffff;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    
}

a.abort:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #30DB30;
    color: #30DB30;
    
    
}

















