


#layout {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100%;
    min-width: 1024px;
    padding: 0;
    position: relative;
    text-align: left;
    
        
}

#layout .inner {
    box-sizing: border-box;
    margin-left: 192px; 
    margin-right: 24px;
    min-height: 100%;
    padding-bottom: 50px;
    padding-top: 12px;
}

.content {
    box-sizing: border-box;
    float: left;
    padding-right: 320px;
    width: 100%;
    
}

div.siteName {
    //font-family: 'Marck Script', cursive;
    font-size: 50px;
    color: #ff3838;
    //background: #FFFFFF;
    text-shadow: 0px 15px 5px rgba(0,0,0,0.03),
    10px 20px 5px rgba(0,0,0,0.03),
    -10px 20px 5px rgba(0,0,0,0.03);
}

a.siteName {
    //font-family: 'Marck Script', cursive;
    font-size: 50px;
    color: #ff3838;
    //background: #FFFFFF;
    text-shadow: 0px 15px 5px rgba(0,0,0,0.03),
    10px 20px 5px rgba(0,0,0,0.03),
    -10px 20px 5px rgba(0,0,0,0.03);
}

a.siteName:hover {
    //font-family: 'Marck Script', cursive;
    font-size: 50px;
    color: #ffffff;
    background: #ff3838;
    text-shadow: 0px 15px 5px rgba(0,0,0,0.03),
    10px 20px 5px rgba(0,0,0,0.03),
    -10px 20px 5px rgba(0,0,0,0.03);
}

.content table.menu {
    margin-top: 10px;
    width: 100%;
}





blockquote {
    background: #FFFFFF;
}
    
.content table.menu tr td {
    //border-bottom: 1px solid #fff;
    //border-right: 1px solid #fff;
    line-height: 19px;
    text-align: center;
    white-space: nowrap;
}

.content .menu  tr {
    border-bottom: 1px solid #ff3838;
    
}

.content table.menu tr td.active {
   // background: 1px solid #ff3838;
    //background: none repeat scroll 0 0 #ff3838;
    //color: #ffffff;
}

.content table.menu tr td a {
    background: none repeat scroll 0 0 #FFFFFF; //ECE9D8;
    color: #771010;
    display: block;
    font-size: 16px;
    height: 26px;
    padding: 5px 15px 0;
    text-decoration: none;
}

.content table.menu tr td.active a {
    background: none repeat scroll 0 0 #FF3838;
    color: #FFFFFF;
    text-decoration: none;
}

.content table.menu tr td.active a:hover {
    background: none repeat scroll 0 0 #FF3838;
    color: #FFFFFF;
    text-decoration: none;
}

.content table.menu tr td a:hover {
    background: none repeat scroll 0 0 #771010;
    color: #FFFFFF;
    text-decoration: none;
}





.sidebarRight {
    padding-top: 7px;
    position: relative;
    float: left;
    margin-left: -300px;
    width: 300px;
}

.sidebarRight .block.calendar h2 {
    
}

.sidebarRight .block h2 {
    background: none repeat scroll 0 0 #FFFFFF;
    //border-color: #30db30;
    color: #771010;
    text-align: center;
    font-size: 18px;
    border-width: 1.4px;
}


.sidebarRight .block {
    background: none repeat scroll 0 0 #FFFFFF; /*#f2f2f2;*/
    margin-bottom: 20px;
    padding: 15px 20px;
    color: rgba(0, 0, 0, 0.5);
    //border-style: solid;
    //border-color: #ff3838;
    //border-width: 1.4px;
    
}

.sidebarRight .block .userList{
    font-size: 13px;
    padding-left: 10%;
}

.sidebarRight .block .weekdays {
    
}

.sidebarRight .block .title {
    background: none repeat scroll 0 0 #FFFFFF;
    //border-color: #30db30;
    color: #771010;
    text-align: center;
    font-size: 18px;
    border-width: 1.4px;
    //letter-spacing: -1px;
    //margin-bottom: 20px;
    
}



.clear {
    clear: both;
}


#navbar {
    left: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 102px;   
    z-index: 99991;
    color: #FFFFFF;
/*    border-right-style: solid;
    border-right-color: #ff3838;
    border-right-width: 1.4px;*/
        
}

#navbar .navPanel {
    background: none repeat scroll 0 0 #0C5F0C; 
    bottom: 0;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 102px;   
        
}

.footerPanel {
    bottom: 10px;
    left: 192px;    
    position: absolute;
    right: 24px;
    border-top-style: solid;
    border-top-color: #ff3838;
    border-top-width: 1.4px;
    border-bottom-style: solid;
    border-bottom-color: #ff3838;
    border-bottom-width: 1.4px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    line-height:30px;
    color: #771010;
}

.post {
    margin-bottom: 40px;
/*    border-top-style: solid;
    border-top-color: #ff3838;
    border-top-width: 1.4px;*/
}

a.post_title {
    color: #771010;
    font-size: 24px;
    
    
}

a {
    color: #527484;
    text-decoration: none;
    
    
}

a:hover {
    color: #FFFFFF;
    background: #30DB30;
    text-decoration: none;
    
    
}


.pageNav #navPages {
    clear: left;
    font-size: 14px;
    overflow: hidden;
    padding-top: 10px;
}

ol, ul {
    list-style: none outside none;
}

.content_html ul {
    list-style: disc outside none;
}

.content_html ol {
    list-style: decimal outside none;
}

.pageNav #navPages li {
    float: left;
    margin-right: 5px;
    //color: #FF3838;
    //font-weight: bold
}

.pageNav #navPages li span {
    color: rgba(0, 0, 0, 0.5);
    
}

.pageNav #navPages li a {
    color: #771010;
    
}

.pageNav #navPages li a:hover {
    color: #FFFFFF;
    background: #30DB30;
    text-decoration: none;
    
}

.content_html {
    font-size: 15px;
    line-height: 160%;
    margin-bottom: 10px;
    overflow: hidden;
    word-wrap:break-word;
    color: rgba(0, 0, 0, 0.7);
    
}

a.admin_link {
    margin-right: 50px;
    //color: #0C5F0C;
    background: none repeat scroll 0 0 #0c5f0c;
    border-color: #30db30;
    color: #ffffff;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    
}

a.admin_link:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #30DB30;
    color: #30DB30;
    
    
}

div #editArticle {
    float: left;
}

div #deleteArticle {
    
}


.published {
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    //font-weight: bold;
    
}

input[type=submit] {
    margin-right: 50px;
    //color: #0C5F0C;
    background: none repeat scroll 0 0 #0c5f0c;
    border-color: #30db30;
    color: #ffffff;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    
}

input[type=submit]:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #30DB30;
    color: #30DB30;
    
    
}

img {
    margin: 5px;
}

iframe {
    margin: 5px;
}

.comments_list {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    
}

.comments_list .coments_count {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    
}

.comment {
    margin-bottom: 20px;
}

.comments_list .comment .commentAuthor {
    color: rgba(0, 0, 0, 0.5);
    //display: block;
    float: left;
    font-weight: bold;
    //background-color: #7F7F7F;
    font-size: 13px;
    //display: block;
}

.comments_list .comment .commentPublDate {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    //padding-top: 1px;
    //margin: 0 auto; 
    //width: 200px; 
    //height: 22px;
    //line-height: 22px;
    //display: block;
    margin-left: 100px;
    //clear: left;
    //background-color: #7F7F7F;
    
    //vertical-align: text-bottom;
    
}

.comments_list .comment .commentText {
    font-size: 15px;
    //line-height: 140%;
    padding-bottom: 5px;
    padding-top: 5px;
    //clear: both;
    color: rgba(0, 0, 0, 0.5);
    
}

.separator {
    clear: left;
}

.comments_list .comment .commentEditBut {
    font-size: 11px;
    float: left;
}

.comments_list .comment .commentDelBut {
    font-size: 11px;
    //line-height: 140%;
    margin-left: 200px;
    
}

a.commentDelBut_link {
/*    background: none repeat scroll 0 0 #0c5f0c;
    border-color: #30db30;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
    margin-right: 50px;
    padding: 5px;*/
    color: #771010;
}

a.commentDelBut_link:hover {
/*    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #30DB30;
    color: #30DB30;    */
    color: #FFFFFF;
    background: #30DB30;
    text-decoration: none;
}

a.commentEditBut_link {
/*    background: none repeat scroll 0 0 #0c5f0c;
    border-color: #30db30;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
    margin-right: 50px;
    padding: 5px;*/
    color: #771010;
}

a.commentEditBut_link:hover {
/*    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #30DB30;
    color: #30DB30;    */
    color: #FFFFFF;
    background: #30DB30;
    text-decoration: none;
}

