

BODY {
	background-image: url('/assets/img/background.jpg');
	background-repeat: no-repeat; 
	background-size: cover;
	background-attachment: fixed;
}


/*идентификатор для входной страницы*/
#centerLayerLogin {
    position: absolute; 			/* Абсолютное позиционирование   */
    width: 25em; 					/* Ширина слоя в пикселах    */
    height: 19em; 					/* Высота слоя в пикселах  */
    left: 50%; 						/* Положение слоя от левого края   */
    top: 50%; 						/* Положение слоя от верхнего края   */
    margin-left: -13.5em; 			/* Отступ слева. =(width+2*padding)/2   */
    margin-top: -10em;				/* Отступ сверху =(height+2*padding)/2   */
    background: #F0F0F0; 			/* Цвет фона */
    border: solid 1px #222; 		/* Параметры рамки вокруг */
    padding: 1em; 					/* Поля вокруг текста */
    overflow: auto;	 				/* Добавление полосы прокрутки */ 
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-border-radius:0.5em;		/* Хак для включения поддержки закругления в браузерах на основе webkit (Google Chrome и Safari) */ 
	-moz-border-radius:0.5em;			/* Хак для включения поддержки закругления в браузере Firefox. Без него будет просто квадрат */
	-khtml-border-radius:0.5em;		/* Хак для включения поддержки закругления в браузере Konquerer. Это из мира Linux. */
	border-radius:0.5em;				/*Свойство CSS3. Чем больше значение в пикселях, тем сильнее скруглённые углы. Должно идти после браузёрных. */
	box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);	/*  */
	
}


#fieldsetLoginHws {					
    border: solid 1px #222;
    margin: 0em;
    padding: 0.5em;
	-webkit-border-radius:0.5em;		/* Хак для включения поддержки закругления в браузерах на основе webkit (Google Chrome и Safari) */ 
	-moz-border-radius:0.5em;			/* Хак для включения поддержки закругления в браузере Firefox. Без него будет просто квадрат */
	-khtml-border-radius:0.5em;		/* Хак для включения поддержки закругления в браузере Konquerer. Это из мира Linux. */
	border-radius:0.5em;				/*Свойство CSS3. Чем больше значение в пикселях, тем сильнее скруглённые углы Должно идти после браузёрных.*/
}

h1 {
	text-align:center;
	font-size: 1.4em;
/*	font-family: Georgia, "Times New Roman", Times, serif;*/
	margin-bottom: 0.2em;									/*отступ снизу*/
}

p {
	font-size: 1.2em;
/*	font-family: Georgia, "Times New Roman", Times, serif;*/
	color: #616161;
	line-height: 1.2em;										/*растягивает строки*/
	margin-bottom: 0.2em;									/*отступ снизу*/

}

.loginInput {
	font-size: 1em;
/*	font-family: Georgia, "Times New Roman", Times, serif;*/
	color: #616161;
	width: 12em;
        margin-bottom: 0.2em;
}

.pwdInput {
	font-size: 1em;
/*	font-family: Georgia, "Times New Roman", Times, serif;*/
	color: #616161;
	width: 12em;
        margin-bottom: 0.2em;
}

.chckInput {
	font-size: 1em;
/*	font-family: Georgia, "Times New Roman", Times, serif;*/
	color: #616161;
        margin-bottom: 0.2em;
}

.buttonInput {
	font-size: 1em;
/*	font-family: Georgia, "Times New Roman", Times, serif;*/
	color: #616161;
	background: #D9DEDD; 			/* Цвет фона */
	-webkit-border-radius:0.5em;		/* Хак для включения поддержки закругления в браузерах на основе webkit (Google Chrome и Safari) */ 
	-moz-border-radius:0.5em;			/* Хак для включения поддержки закругления в браузере Firefox. Без него будет просто квадрат */
	-khtml-border-radius:0.5em;		/* Хак для включения поддержки закругления в браузере Konquerer. Это из мира Linux. */
	border-radius:0.5em;				/*Свойство CSS3. Чем больше значение в пикселях, тем сильнее скруглённые углы. Должно идти после браузёрных. */
	
	/*Градиент*/
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}















